<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Rails Wikiminous</a>
    <form class="d-flex">
      <%= link_to "New article", new_article_path  %>
    </form>
  </div>
</nav>
<br>
